@page "/home"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center" >
    <div class="text-center">
        <h1>Customer Management</h1>
        <br />
        <!-- Pulsante per la navigazione verso la pagina Customers -->
        <NavLink class="btn btn-primary my-2" href="/customers">
            View Customers
        </NavLink>

        <!-- Pulsante per la navigazione verso la pagina Dashboard -->
        <NavLink class="btn btn-secondary my-2" href="/dashboard">
            View Dashboard
        </NavLink>
    </div>
</div>
